#root {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

html,
body {
  height: 100%;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.calendar-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.calendar-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.calendar-left-controls {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.calendar-right-controls {
  display: flex;
  align-items: center;
}

.month-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.day-names-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  border-top: 1px solid #444;
  border-left: 1px solid #444;
  border-right: 1px solid #444;
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  flex: 1;
  border: 1px solid #444;
  border-top: none;
}
.date-cell {
  border: 1px solid #333;
  padding: 6px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.date-number {
  font-weight: bold;
  align-self: flex-end;
}
.other-month {
  opacity: 0.4;
}

.events-container {
  flex: 1;
}

.empty {
  visibility: hidden;
}

.date-cell.today {
  background-color: #646cff;
  color: white;
  border-radius: 6px;
  font-weight: bold;
}
.date-cell.empty {
  background-color: #f5f5f5;
}
